.articleCard {
	display: grid;
	grid-template-rows: 200px;
	@media (min-width: 480px) {
		grid-template-rows: initial;
		grid-template-columns: 1fr 1fr;
		min-height: 200px;
	}

	&:hover {
		.imageContainer {
			opacity: 70%;
		}
	}

	.imageContainer {
		position: relative;
		padding-bottom: 20%;
		background: var(--off-white-2);
		background-size: cover;
		border-radius: 10px;
		overflow: hidden;
		flex-grow: 0;
		transition: opacity 0.2s ease;
		img {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			mix-blend-mode: darken;
			object-fit: cover;
			object-position: center;
			transition: ease-in 0.3s;
		}
	}

	.description {
		padding: 20px 0 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: 480px) {
			padding: 35px 20px 35px 40px;
		}

		.date {
			@include subtitle;
			margin-bottom: 10px;
		}
		.title {
			@include H4;
			padding-bottom: 20px;
			margin-bottom: 0;
		}
	}
}
