.root {
	@include TextBase;
	$height: 45px;
	display: flex;
	height: $height;
	padding: 0 $height/2 - 5px;
	//border-radius: $height/2;
	border-radius: 6px;
	border: none;
	align-items: center;
	background-color: var(--off-white-2);
	transition: background-color 0.2s ease;
	cursor: pointer;
	color: var(--grey-2);

	&:hover {
		background-color: var(--off-white-3);
	}

	&.outlined {
		background: transparent;
		border: 2px solid var(--off-white-3);

		&:hover {
			background-color: var(--off-white-2);
		}
	}

	svg:last-child {
		margin-left: 10px;
	}
}
