.page_section {
	width: 100vw;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	padding: 100px 0;
	&.elevated {
		background-color: var(--off-white-1);
	}
	.inner {
		width: var(--standard-container-width);
		max-width: var(--standard-container-max-width);
	}

	&.border_top {
		padding-top: 0px;
	}
	&.border_bottom {
		padding-bottom: 60px;
	}
}
