.greetings {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.welcome {
		margin-top: 20px;
		font-family: var(--font-family);
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 62px;

		text-transform: uppercase;
		color: var(--grey-1);
	}
	.heading {
		font-family: var(--font-family-serif);
		font-style: normal;
		font-weight: 400;
		font-size: 50px;
		line-height: 65px;

		color: var(--black);
	}
}

.image_container {
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	background-color: var(--off-white-2);
	border-radius: 12px;
	height: 396px;
	width: 100%;
	img {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		mix-blend-mode: darken;
		object-fit: cover;
		transition: ease-in 0.3s;
	}
}
.section_top {
	padding-top: 50px;
	position: relative;
	background-image: url("/lines.svg");
	background-repeat: no-repeat;
	background-position: center;
	.divider {
		border-bottom: 2px solid var(--off-white-2);
		margin-top: 70px;
	}
}
.section_artworks {
	padding-top: 0;
	.gallery {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		gap: 100px 70px;
		align-items: center;
		justify-content: center;
	}
}

.list {
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.columns {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 30px;
}

.about {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 100px;
}

.about_text {
	border-radius: 12px;
	color: var(--grey-1);
	font-weight: 200;
	font-size: 18px;
	line-height: 30px;
}

.about_image {
	border-radius: 12px;
	overflow: hidden;
	width: 100%;
	height: 300px;
	img {
		object-fit: cover;
	}
}
