.greetings {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.welcome {
		margin-top: 20px;
		font-family: var(--font-family);
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 1em;
		text-transform: uppercase;
		color: var(--grey-1);
		opacity: 0.5;
	}
	.heading {
		@include H1;
		max-width: 92%;
	}
}

.image_container {
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	background-color: var(--off-white-2);
	border-radius: 12px;
	height: 396px;
	width: 100%;
	img {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		mix-blend-mode: darken;
		object-fit: cover;
		transition: ease-in 0.3s;
	}
}
.section_top {
	padding-top: 50px;
	position: relative;
	background-image: url("/lines.svg");
	background-repeat: no-repeat;
	background-position: center;
	.divider {
		border-bottom: 2px solid var(--off-white-2);
		margin-top: 70px;
	}
}
.section_artworks {
	padding-top: 0;
}

.list {
	padding-top: 20px;
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.columns {
	gap: $gapDefault;
	@media (min-width: 480px) {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
}

.about {
	gap: $gapDefault;
	@media (min-width: 480px) {
		display: grid;
		grid-template-columns: 3fr 2fr;
	}
}

.about_text {
	@include TextBase;
	p:not(:last-child) {
		margin-bottom: 20px;
	}
}

.about_image {
	border-radius: 12px;
	overflow: hidden;
	width: 100%;
	height: 200px;
	img {
		object-fit: cover;
	}
}
